<ul class="results">
  <% for item in @file_results do %>
    <li class="result">
      <%= magnet item, image_tag('download.png') %>
      /path/will/be/here/<%= item.name %><br />
      <% user = Userentry.find(item.userId) %>
      User: <a href="/browse/<%= user.id.to_s + '/' + user.name + '">' + user.name %></a>
      Hub: <%= user.hub %>
      Filesize: <%= human_filesize item.fileSize %>
    </li>
  <% end %>
</ul>