<% if object.class == Fileentry %>
  <li class="file_result">
    <%= magnet object, image_tag('download.png') %>
    <pale><%= Folderentry.find(object.folderId).fullName %>/</pale><%= object.name %><br />
    <% user = Userentry.find(object.userId) %>
    User:
    <% if user.online %>
      <%= image_tag 'online.png' %>
    <% else %>
      <%= image_tag 'offline.png' %>
    <% end %>
    <%= link_to user.name, :controller => 'userentries', :action => 'browse', :id => user.id.to_s, :user => user.name, :path => '' %> |
    Hub: <%= user.hub %> |
    Filesize: <%= number_to_human_size object.fileSize %> |
    <%= link_to 'More like this!', :action => 'similar', :filename => object.name, :likethis => object %>
  </li>
<% elsif object.class == Folderentry %>
  <li class="folder_result">
    <%= image_tag '/images/folder.png' %>
    <%= link_to object.fullName, :controller => 'userentries', :action => 'browse', :id => object.userId.to_s, :user => Userentry.find(object.userId).name, :path => object.fullName[1..object.fullName.length] %><br />
    <% user = Userentry.find(object.userId) %>
    User:
    <% if user.online %>
      <%= image_tag 'online.png' %>
    <% else %>
      <%= image_tag 'offline.png' %>
    <% end %>
    <%= link_to user.name, :controller => 'userentries', :action => 'browse', :id => user.id.to_s, :user => user.name, :path => '' %>
  </li>
<% elsif object.class == Userentry %>
  <li class="user_result">
    <% if object.online %>
      <%= image_tag 'online.png' %>
    <% else %>
      <%= image_tag 'offline.png' %>
    <% end %>
    <strong><%= object.name %></strong><br />
    <%= link_to "Browse this user's files", :controller => 'userentries', :action => 'browse', :id => object.id.to_s, :user => object.name, :path => '' %>
  </li>
<% end %>