<h1>Editing fileentry</h1>

<% form_for(@fileentry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :hash %><br />
    <%= f.text_field :hash %>
  </p>
  <p>
    <%= f.label :folderId %><br />
    <%= f.text_field :folderId %>
  </p>
  <p>
    <%= f.label :userId %><br />
    <%= f.text_field :userId %>
  </p>
  <p>
    <%= f.label :fileSize %><br />
    <%= f.text_field :fileSize %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @fileentry %> |
<%= link_to 'Back', fileentries_path %>
