<p>
  <b>Name:</b>
  <%=h @fileentry.name %>
</p>

<p>
  <b>Hash:</b>
  <%=h @fileentry.hash %>
</p>

<p>
  <b>Folderid:</b>
  <%=h @fileentry.folderId %>
</p>

<p>
  <b>Userid:</b>
  <%=h @fileentry.userId %>
</p>

<p>
  <b>Filesize:</b>
  <%=h @fileentry.fileSize %>
</p>


<%= link_to 'Edit', edit_fileentry_path(@fileentry) %> |
<%= link_to 'Back', fileentries_path %>
