<div id="browser">
  <div id="path">
    <strong><%= params['user'] %>:</strong> <%= @path %>
  </div>
  <ul id="listing">
    <% if @folder.parentId != 0 %>
      <li>
        <%= image_tag 'up.png' %>
        <a href="/browse/<%= params['id'] + '/' + params['user'] + Folderentry.find(@folder.parentId).fullName %>">..</a>
      </li>
    <% end %>
    <% for folder in @sub_folders do %>
      <li>
        <%= image_tag 'folder.png' %>
        <a href="/browse/<%= params['id'] + '/' + params['user'] + folder.fullName %>"><%= folder.shortName %></a>
      </li>
    <% end %>
    <% for file in @files do %>
      <li>
        <%= image_tag 'file.png' %>
        <%= magnet file, file.name%>
        <%= human_filesize file.fileSize %>
      </li>
    <% end %>
  </ul>
</div>