<div id="browser">
  <div id="path">
    <strong><%= params['user'] %>:</strong> <%= @path %>
  </div>
  <ul id="listing">
    <% if @folder.parentId != 0 %>
      <li>
        <%= image_tag 'up.png' %>
        <%= link_to '..', :id => params[:id], :user => params[:user], :path => Folderentry.find(@folder.parentId).fullName[1..@folder.fullName.length] %>
      </li>
    <% end %>
    <% for folder in @sub_folders do %>
      <li>
        <%= image_tag 'folder.png' %>
        <%= link_to folder.shortName, :id => params[:id], :user => params[:user], :path => folder.fullName[1..folder.fullName.length] %>
      </li>
    <% end %>
    <% for file in @files do %>
      <li>
        <%= image_tag 'file.png' %>
        <%= magnet file, file.name%>
        <%= number_to_human_size file.fileSize %>
      </li>
    <% end %>
  </ul>
  <div id="folder_info">
    <%= @sub_folders.length %> directories, <%= @files.length %> files.
  </div>
</div>