<h1>Listing userentries</h1>

<table>
  <tr>
    <th>Cid</th>
    <th>Lastscan</th>
    <th>Hub</th>
    <th>Name</th>
  </tr>

<% for userentry in @userentries %>
  <tr>
    <td><%=h userentry.cid %></td>
    <td><%=h userentry.lastScan %></td>
    <td><%=h userentry.hub %></td>
    <td><%=h userentry.name %></td>
    <td><%= link_to 'Show', userentry %></td>
    <td><%= link_to 'Edit', edit_userentry_path(userentry) %></td>
    <td><%= link_to 'Destroy', userentry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New userentry', new_userentry_path %>
