<h1>Listing folderentries</h1>

<table>
  <tr>
    <th>Parentid</th>
    <th>Shortname</th>
    <th>Fullname</th>
    <th>Userid</th>
  </tr>

<% for folderentry in @folderentries %>
  <tr>
    <td><%=h folderentry.parentId %></td>
    <td><%=h folderentry.shortName %></td>
    <td><%=h folderentry.fullName %></td>
    <td><%=h folderentry.userId %></td>
    <td><%= link_to 'Show', folderentry %></td>
    <td><%= link_to 'Edit', edit_folderentry_path(folderentry) %></td>
    <td><%= link_to 'Destroy', folderentry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New folderentry', new_folderentry_path %>
