<h1>New folderentry</h1>

<% form_for(@folderentry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :parentId %><br />
    <%= f.text_field :parentId %>
  </p>
  <p>
    <%= f.label :shortName %><br />
    <%= f.text_field :shortName %>
  </p>
  <p>
    <%= f.label :fullName %><br />
    <%= f.text_field :fullName %>
  </p>
  <p>
    <%= f.label :userId %><br />
    <%= f.text_field :userId %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', folderentries_path %>
