<div id="navigation">
  <ul class="navigation">
    <li id="search"><%= link_to "Search", :controller => 'search', :action => 'search' %></li>
    <li id="advanced"><%= link_to "Advanced", :controller => 'search', :action => 'advanced' %></li>
    <li id="usage"><%= link_to "Usage", :controller => 'help', :action => 'usage' %></li>
    <li id="stats"><%= link_to "Stats", :controller => 'help', :action => 'stats' %></li>
    <li id="about"><%= link_to "About", :controller => 'help', :action => 'about' %></li>
  </ul>
</div>