<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= stylesheet_link_tag "default" %>
  <title>Direct Connect Search - 
    <%= if @title
          @title
        else
          controller.action_name.capitalize
        end %>
  </title>
</head>
<body id="<%= controller.action_name %>">
  <div class="wrapper">
  
    <%= render :partial => "layouts/header" %>
  
    <% if flash[:error] %>
      <p id="error"><%= image_tag 'bad.png' %><%= flash[:error] %></p>
    <% end %>
    <% if flash[:notice] %>
      <p id="notice"><%= image_tag 'good.png' %><%= flash[:notice] %></p>
    <% end %>
  
    <div id="content">
      <%= yield  %>
    </div>
    <div class="push"></div>
  </div>

  <%= render :partial => "layouts/footer" %>

</body>
</html>
